name: Publish to NPM

permissions: {}

on:
  push:
    branches:
      - rollipop
    paths:
      - packages/rolldown/package.json

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name: Check version
    runs-on: ubuntu-latest
    outputs:
      version_changed: ${{ steps.version.outputs.changed }}
      version: ${{ steps.version.outputs.version }}
    steps:
      - uses: taiki-e/checkout-action@afad4df3ab3122b166e8226ac83be4d981fb64e8 # v1.3.2

      - name: Check version changes
        uses: EndBug/version-check@5102328418c0130d66ca712d755c303e93368ce2 # v2.1.7
        id: version
        with:
          static-checking: localIsNew
          file-url: https://unpkg.com/@rollipop/rolldown@latest/package.json
          file-name: packages/rolldown/package.json

      - name: Print version
        if: steps.version.outputs.changed == 'true'
        env:
          NEW_VERSION: ${{ steps.version.outputs.version }}
        run: |
          echo "Version change found! New version: ${NEW_VERSION}"

  build:
    needs: check
    if: needs.check.outputs.version_changed == 'true'
    name: Build bindings and node packages
    uses: ./.github/workflows/reusable-release-build.yml

  publish:
    needs: [check, build]
    if: github.repository == 'leegeunhyeok/rolldown'
    name: Publish npm Packages
    runs-on: ubuntu-latest
    permissions:
      id-token: write # for `npm publish --provenance`
    steps:
      - uses: taiki-e/checkout-action@afad4df3ab3122b166e8226ac83be4d981fb64e8 # v1.3.2

      - uses: oxc-project/setup-node@8958a8e040102244b619c4a94fccb657a44b1c21 # v1.0.6

      - name: Git Reset Hard
        run: git reset --hard # fix pnpm install add new line for package.json

      - name: Download Binding Artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: packages/rolldown/artifacts

      - name: Create rolldown/npm dirs
        run: pnpm --filter '@rollipop/rolldown' exec napi create-npm-dirs

      - name: Move Binding Artifacts
        run: pnpm --filter '@rollipop/rolldown' artifacts

      - name: List Rolldown Bindings
        run: ls -R ./packages/rolldown/npm
        shell: bash

      - name: Download Node Artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: packages/rolldown/dist
          name: node-artifact

      - name: Download `@rolldown/debug` Artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: packages/debug/dist
          name: debug-artifact

      - name: Download Pluginutils Artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: packages/pluginutils/dist
          name: pluginutils-artifact

      - name: Copy Licenses
        run: |
          find ./packages/ -type d -maxdepth 1 -exec cp LICENSE {} \;
          find ./packages/ -type d -maxdepth 1 -exec cp THIRD-PARTY-LICENSE {} \;

      - name: Publish(Dry Run)
        run: |
          pnpm publish -r --tag latest --dry-run --no-git-checks --filter '!@rolldown/browser'

      - name: Publish
        run: |
          npm install -g npm
          pnpm publish -r --tag latest --no-git-checks --filter '!@rolldown/browser'

      - name: Create Git Tag
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/leegeunhyeok/rolldown.git
          git tag v${{ needs.check.outputs.version }}
          git push origin v${{ needs.check.outputs.version }}
